<link rel="stylesheet" href='src/view/assortment/css/nav.css'>
<link rel="stylesheet" href="src/view/assortment/paths/01furnshing/css/furnshing.css">
<link rel="stylesheet" href="src/view/assortment/paths/02kitchen/css/kitchen.css">
<link rel="stylesheet" href="src/view/assortment/paths/03accessories/css/accessories.css">
<link rel="stylesheet" href="src/view/assortment/paths/04cloth/css/cloth.css">
<link rel="stylesheet" href="src/view/assortment/paths/05cleaning/css/cleaning.css">
<link rel="stylesheet" href="src/view/assortment/paths/06baby/css/baby.css">
<link rel="stylesheet" href="src/view/assortment/paths/07groceries/css/groceries.css">
<link rel="stylesheet" href="src/view/assortment/paths/08food/css/food.css">
<link rel="stylesheet" href="src/view/assortment/paths/09other/css/other.css">
<div class="assortment">
    <div class="fixnav">
        <ul id="fixnavUl">
            <li><a ui-sref="assortment.furnshing" class="navbarA1" ui-sref-active="navbarA2">居家</a></li>
            <li><a ui-sref="assortment.kitchen" class="navbarA1" ui-sref-active="navbarA2">餐厨</a></li>
            <li><a ui-sref="assortment.accessories" class="navbarA1" ui-sref-active="navbarA2">配件</a></li>
            <li><a ui-sref="assortment.cloth" class="navbarA1" ui-sref-active="navbarA2">服装</a></li>
            <li><a ui-sref="assortment.cleaning" class="navbarA1" ui-sref-active="navbarA2">洗护</a></li>
            <li><a ui-sref="assortment.baby" class="navbarA1" ui-sref-active="navbarA2">婴童</a></li>
            <li><a ui-sref="assortment.groceries" class="navbarA1" ui-sref-active="navbarA2">杂货</a></li>
            <li><a ui-sref="assortment.food" class="navbarA1" ui-sref-active="navbarA2">饮食</a></li>
            <li><a ui-sref="assortment.other" class="navbarA1" ui-sref-active="navbarA2">其他</a></li>
        </ul>
    </div>
    <div class="container" ui-view></div>
</div>