<div class="other">
    <div class="banner">
       <section>
            <p>挑选，你的生活</p>
            <span></span>
       </section>
    </div>
    <main ng-controller="othctrl">
        <section ng-repeat="x in pro">
            <div class="othheader">
                <p>{{x.category.name}}</p>
                <span>{{x.category.frontName}}</span>
            </div>
            <div class="othmain">
                <ul class="othmainUl">
                    <li ng-repeat="y in x.itemList" class="othmainUlLi">
                      <a href="">
                        <div class="img"><img src="{{y.primaryPicUrl}}" alt=""></div>
                        <div class="name">{{y.name}}</div>
                        <div class="price">￥{{y.retailPrice}}</div>
                      </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</div>