/* 
* @Author: weirui
* @Date:   2016-12-12 20:44:19
* @Last Modified by:   anchen
* @Last Modified time: 2016-12-12 21:01:53
*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
ul,li,ol{
    list-style: none;
}
